.input-notice {
  font-size: 0.7em;
  margin-top: 3px;
  color: $light-grey;
}

.form-control {
  border-radius: 0px;

  &:focus {
    border-color: $purple;
    box-shadow: 0 0 0 0.2rem #fff;
  }

  .sm {
    max-width: 300px;
  }
}

.btn {
  background: $purple;
  color: #fff;
  border-radius: 0px;
  padding: 5px 30px;

  &:focus,
  &:hover,
  &:active {
    box-shadow: none;
    background: darken($purple, 5%);
  }
}

.has-error {
  border-color: $red;
}

.required-field:after {
  content: '*';
  color: $red;
  vertical-align: top;
}

.form-errors {
  margin: 10px 0px;
  color: $red;
}
