.input-notice {
  font-size: 0.7em;
  margin-top: 3px;
  color: $light-grey;
}

.form-control {
  border-radius: 0px;
  appearance: none;

  &:focus {
    border-color: $purple;
    box-shadow: 0 0 0 0.2rem #fff;
  }

  &.sm {
    max-width: 300px;
  }

  &.md {
    max-width: 500px;
  }
}

.select-wrapper {
  position: relative;

  &.sm {
    max-width: 300px;
  }

  &.md {
    max-width: 500px;
  }

  svg {
    position: absolute;
    right: 13px;
    top: 8px;
  }
}

.btn {
  background: $purple;
  color: #fff;
  border-radius: 0px;
  padding: 5px 30px;
  border: none;

  &:focus,
  &:hover,
  &:active {
    box-shadow: none;
    background: darken($purple, 5%);
  }

  &.text {
    background: none;
    padding: 0px 10px;
    color: $purple;
  }

  &.icon {
    background: none;
    padding: 5px;
    color: $purple;
  }

  &-link {
    color: $purple;
    background: none;
    padding: 5px;

    &:hover {
      color: darken($purple, 20%);
      text-decoration: none;
      background: none;
    }
  }
}

.has-error {
  border-color: $red;
}

.required-field:after {
  content: '*';
  color: $red;
  vertical-align: top;
}

.form-errors {
  margin: 10px 0px;
  color: $red;
}
