.tabs {
  list-style: none;
  padding: 0px;
  margin: 10px 0px;
  display: flex;

  .tab-item {
    display: flex;
    align-items: center;
    border: solid thin $light-grey;
    padding: 5px 80px;
    margin-right: -1px;
    text-align: center;
    cursor: pointer;

    &.active {
      background: #F2F2F2;
    }
  }
}

.navbar {
  border-bottom: solid thin $light-grey;
}
